<launch> 
	<node pkg="offboard_sample" type="offb_node" name="offb_node" output="screen">
		<!--<remap from="~pos_cmd" to="/planning/pos_cmd"/>-->
		<param name="takeoff_height" value="1"/>
		<remap from="~pos_cmd" to="/planning/pos_cmd"/>
	</node> 
	<node pkg="offboard_sample" type="keyboard.py" name="keyboard"  />
	<rosparam file="$(find offboard_sample)/cfg/mission_cfg.yaml" command="load" />
</launch>
                                                                                                                     
